<div class="container " style="height: 100%">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="panel panel-primary center">
      <div class="panel-heading">
        <h3 class="panel-title">登录</h3>
      </div>
      <div class="panel-body">
        <form [formGroup]='loginForm' class="form-horizontal " (ngSubmit)="onSubmit()">
          <div class="form-group ">
            <label class="col-sm-2 control-label">登录账号:</label>
            <div class="col-sm-8 input-group">
              <span class="input-group-addon glyphicon glyphicon-user"></span>
              <input class="form-control" type="text" id="userName" formControlName='userName'
                placeholder="登录账号" required autocomplete="off">
            </div>

          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label ">登录密码:</label>
            <div class="col-sm-8 input-group">
              <span class="input-group-addon glyphicon glyphicon-th"></span>
              <input class="form-control" type="password" formControlName='passWord' placeholder="登录密码" required>

            </div>
          </div>
          <div class="form-group">
            <div class=" col-sm-offset-2 col-sm-10">
              <button class="btn btn-primary " type="submit">登录</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
