<div class="container-fluid left ">
  <div class=" left-menu">
    <nav class="navbar-inverse   nav-stacked navbar-left ">
      <ul class="nav navbar nav-pills nav-stacked ">
        <li role="presentation"><a [routerLink]="[ '/create']">创建事项</a></li>
        <li role="presentation"><a [routerLink]="[ '/already']">已办事项</a></li>
        <li role="presentation"><a [routerLink]="[ '/waitFor']">待办事项</a></li>
        <li role="presentation"><a [routerLink]="[ '/personnel']">人员管理</a></li>
      </ul>
    </nav>
  </div>
</div>
